.another__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.another__title{
    margin-top: 0;
}
.another__head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.another__right {
    max-width: 615px;
}

.another__counter {
    font-family: @bebasNeueB;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: 0em;
    text-align: left;
    color: #4F4F4F;
    margin-top: 0;
}

.another__txt {
    font-family: @proDisplayR;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: @white;
    margin-bottom: 64px;
}

.another__txt--1{
    margin-bottom: 24px;
}

.another__btn--back{
    margin-right: 31px;
}

.another__footer {
    margin-bottom: 260px;
}

.another__wrapper::after {
    content: "";
    width: 1200px;
    height: 1px;
    background: #C4C4C4;
    position: absolute;
    top: 713px;
    left: 15px;
}