.feedback__wrapper {
    position: relative;
    padding-top: 50px;
    padding-bottom: 220px;
    border-bottom: 1px solid #C4C4C4;

    @media (max-width: @medium) {
        display: none;
    }
}

.feedback__title {
    margin-bottom: 83px;
}

.feedback__btn {
    position: absolute;
    top: 250px;
    left: 68px;
    font-family: @bebasFont;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border-width: 1px;
    border-color: #83C1FA;
    color: #333333;
}

.feedback__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.feedback__video {
    margin-bottom: 16px;
}

.feedback__name {
    font-family: @proDisplayFont;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: @white;
}

.feedback__desc {
    font-family: @proDisplayFont;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #828282;
}