.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__rights {
    font-family: @proDisplayM;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #A0A0A0;
    margin-bottom: 59px;
}

.footer__link {
    position: relative;
    font-family: @proDisplayM;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: right;
    color: #A0A0A0;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(196, 196, 196, 0.5);
}