.header__wrapper {
    display: flex;
    align-items: flex-start;
    padding-top: 27px;
    padding-bottom: 27px;


    @media (max-width: @medium) {
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.header__logo {
    margin-right: 36px;

    @media (max-width: @medium) {
        margin-right: 0;
    }
    
}

.header__switch {
    .btn-reset();
    fill: @white;
    margin-right: 158px;

    &:hover {
        fill: #F2C94C;
    } 

    @media (max-width: @medium) {
        margin-right: 0;
    }
}

.header__burger {
    .btn-reset();
    display: none;
    @media (max-width: @medium) {
        display: block;
    }
}
