.hero__wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 220px;
    border-bottom: 1px solid #C4C4C4;
}

.hero__word--1 {
    position: absolute;
    top: 98px;
    font-family: @bebasFont;
    font-size: 190px;
    font-style: normal;
    font-weight: 700;
    line-height: 190px;
    letter-spacing: 0em;
    text-align: left;
    -webkit-text-stroke: 2px #8E8E8E;;
    color: transparent;
}

.hero__word--2 {
    position: absolute;
    top: 271px;
    font-family: @bebasFont;
    font-size: 190px;
    font-style: normal;
    font-weight: 700;
    line-height: 190px;
    letter-spacing: 0em;
    text-align: left;
    color: @white;
    text-shadow: 5px 5px #83C1FA;
}

.hero__desc {
    padding-top: 529px;
    padding-left: 280px;
    font-family: @proDisplayFont;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: @white;

    &::before {
        content: "";
        position: absolute;
        width: 253px;
        height: 1px;
        top: 541px;
        left: 15px;
        background: #4F4F4F;
    }
}
 
.hero__right {
    height: 569px;
    margin-left: auto;
    box-shadow: 8px 7px #83C1FA;
}