.slider__wrapper {
    position: relative;
    padding-top: 50px;
    padding-bottom: 220px;
    border-bottom: 1px solid #C4C4C4;

    @media (max-width: @medium) {
        display: none;
    }
}

.slider__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 72px;
}

.slider__title {
    font-family: @bebasFont;
    font-size: 190px;
    font-style: normal;
    font-weight: 700;
    line-height: 190px;
    letter-spacing: 0em;
    text-align: left;
    color: @white;
    text-shadow: 6px 6px #83C1FA;
    margin-right: 371px;
}

.slider__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.slider__counter {
    max-width: 363px;
    margin-right: 117px;

    &--first {
        margin-top: 0;
        font-family: @bebasFont;
        font-size: 144px;
        font-style: normal;
        font-weight: 700;
        line-height: 144px;
        letter-spacing: 0em;
        text-align: left;
        color: #828282;
        position: absolute;
        top: 0;
        left: 0;
    
        &::after {
            content: "";
            width: 190px;
            height: 1px;
            background: #4F4F4F;
            position: absolute;
            transform: rotate(-45deg);
            top: 110px;
            left: 0px;
        }
    }
    
    &--last {
        font-family: @bebasFont;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;
        color:#4F4F4F;
        position: absolute;
        top: 90px;
        left: 128px;
    }
}

.slider__info {
    max-width: 245px;
}

.slider__subtitle {
    margin-top: 0px;
    font-family: @bebasFont;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    color: @white;
}

.slider__desc {
    font-family: @bebasFont;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: @white;
    margin-bottom: 50px;
}

.slider__item {
    display: flex;
    justify-content: flex-start;
}

.slider__icon {
    .btn-reset();
    margin-right: 15px;
}

.slider__svg{
    width: 24px;
    height: 24px;
    fill: @white;

    &:hover {
        fill: #83C1FA;
    }
}

.slider__link {
    font-family: @proDisplayFont;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: @white;

    &:hover {
        color: #83C1FA;
    }
}

.slider__img {
    border: 10px solid #000000;
    border-radius: 28px;
}