@font-face {
    font-family: 'BebasNeueBold', ;
    src: url("../../fonts/bebas-neue/BebasNeueBold.otf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url("../fonts/bebas-neue/BebasNeueRegular.otf");
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'SFProDisplay-Medium';
    src: url("../fonts/sfp-pro/SFProDisplay-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay-Regular';
    src: url("../fonts/SFProDisplay-Regular.woff");
    font-weight: 400;
    font-style: normal;
}