

@dark: #262626;
@light: #F4F4F4;
@white: #FFFFFF;
@shade: #83C1FA;



@small: 576px;
@medium: 768px;
@large: 1200px;

@bebasNeueB: 'BebasNeueBold', sans-serif;
@bebasNeueR: 'BebasNeueRegular', sans-serif;
@proDisplayM: 'SFProDisplay-Medium';
@proDisplayR: 'SFProDisplay-Regular';